// 主题颜色
@bg-color-1: #fff;
@bg-color-2: #1a1a1a;
@bg-color-3: #f5f6f7;

// 字体颜色
@font-color-1: #1a1a1a;

// 字体大小
@font-size-12: 12px;
@font-size-14: 14px; 
@font-size-16: 16px;
@font-size-18: 18px;
@font-size-20: 20px;
@font-size-22: 22px;
@font-size-24: 24px;
@font-size-28: 28px;
@font-size-32: 32px;

// 行高
@line-height-20: 20px;
@line-height-22: 22px;
@line-height-24: 24px;
@line-height-26: 26px;
@line-height-28: 28px;
@line-height-36: 36px;

// 头部高度
@header-height: 100px;
@min-mobile-header-height: 60px;

// 最小适配宽度
@min-ipad-width:1024px;
@min-computer-width:1200px;


html, body{
  padding: 0px;
  margin: 0px;
  background-color: red;
}

ul li{
  list-style-type: none;
}

h1, h2, h3{
  font-weight: 400;
}
